name: Update TryHackMe badge

on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  update-badge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download badge
        run: |
          mkdir -p assets
          curl -L "https://tryhackme.com/api/v2/badges/public-profile?userPublicId=6105340" --output assets/tryhackme.png
      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add assets/tryhackme.png
          git commit -m "Auto-update TryHackMe badge" || echo "No changes"
          git push
